.logo {
    width: 20%;
    height: 2rem;
}
.lineItem {
    display: block;
}
.header {
    text-align: center;
    box-shadow: 2px 2px 16px black;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgb(0, 36, 114);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}
